@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --henrys-text-color: #492E2E;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    background-color: #f0f0e6;
  }
}

body {
  color: var(--henrys-text-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
